---
import ProjectCard from './ProjectCard.astro'
import {PROJECTS} from '../data/constants'

---


<section
    class="flex flex-col gap-24 pt-60"
    id="projects">
    <div class="flex flex-col gap-2 text-center">
      <h3 class="text-large sm:text-xl md:text-2xl">A few of my creative endeavors.</h3>
      <h4 class="text-3xl font-semibold sm:text-4xl md:text-5xl">
        Curious to <span class="poppins text-primary">see</span> my personal projects?
      </h4>
    </div>

    <div class="grid gap-6 xl:grid-cols-3 md:grid-cols-2 md:gap-10">
			{PROJECTS.map(project  => (
				<ProjectCard
					title={project.title}
					description={project.description}
					imgUrl={project.image}
					gitUrl={project.gitUrl}
					previewUrl={project.previewUrl} /> 
			))}
    </div>
  </section>